APP_NAME=Truck-go
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://localhost

# Телеграм токен для клиента, подставить свой для тестирования.
TELEGRAM_TOKEN=6199297179:AAFPxUaJyrBcT3rACXbemPXXTUgsE7sFE95

# Телеграм токен для вендора, подставить свой для тестирования.
TELEGRAM_VENDOR_TOKEN=6199297179:AAFPxUaJyrBcT3rACXbemPXXTUgsE7sFE95
# Телеграм токен для driver, подставить свой для тестирования.
TELEGRAM_DRIVER_TOKEN=6199297179:AAFPxUaJyrBcT3rACXbemPXXTUgsE7sFE95
# Включаем ли авторегистрацию роутов из telegram.php. Для прода должно быть false.
TELEGRAM_ROUTES=true

# Данные для сервиса dadata. Можно любую строку, если замоканы.
DADATA_API_KEY=test
DADATA_SECRET=test

# Апи ключ для сервиса Яндекс Geocoder. Можно любую строку, если замоканы.
YANDEX_API_KEY=test

# Апи ключ для сервиса graphhopper. Можно любую строку, если замоканы.
GRAPHHOPPER_API_KEY=test

# Используем ли мок для геокодирования.
GEOCODING_MOCKED=true
# Используем ли мок для обратного геокодирования.
REVERSE_GEOCODING_MOCKED=true
# Используем ли мок для получения данных об ИНН.
INN_MOCKED=true
# Используем ли мок для определения маршрута между точками.
ROUTING_MOCKED=true

# Айди чата, если подставить сюда айди своего чата, то можно получать в телеграм ексепшены.
NUTGRAM_LOG_CHAT_ID=123

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=laravel
DB_USERNAME=laravel
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
# Каким образом разгребается очередь. sync - сразу же, для локальной разработки.
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
